:root {
	--zeus-border-radius: 4px;
	--zeus-transition-duration-fast: .2s;
	--zeus-transition-duration-default: .3s;
	--zeus-transition-duration-slow: .5s;
	--zeus-brand-primary: #FFD93F;
	--zeus-brand-tertiary: #FFB41B;
	--zeus-white: #ffffff;
	--zeus-black: #000000;
	--zeus-neutral-dark-100: #F0F6FC;
	--zeus-neutral-dark-200: #C9D1D9;
	--zeus-neutral-dark-300: #B1BAC4;
	--zeus-neutral-dark-400: #8B949E;
	--zeus-neutral-dark-500: #6E7681;
	--zeus-neutral-dark-600: #484F58;
	--zeus-neutral-dark-700: #30363D;
	--zeus-neutral-dark-800: #21262D;
	--zeus-neutral-dark-900: #242930;
	--zeus-space-xs: 5px;
	--zeus-space-s: 10px;
	--zeus-space-m: 20px;
	--zeus-space-l: 40px;
	--zeus-space-xl: 60px;
	--zeus-space-xxl: 80px;
	--zeus-font-family-base: "Open Sans" , "Helvetica Neue" , Arial , sans-serif;
	--zeus-font-family-monospace: SFMono-Regular , Menlo , Monaco , Consolas , "Liberation Mono" , "Courier New" , monospace;
	--zeus-font-size-xs: 10px;
	--zeus-font-size-s: 12px;
	--zeus-font-size-m: 14px;
	--zeus-font-size-l: 18px;
	--zeus-font-size-xl: 36px;
	--zeus-font-size-xxl: 45px;
	--zeus-font-weight-normal: 400;
	--zeus-font-weight-semibold: 600;
	--zeus-font-weight-bold: 700;
}
:root {
  --zeus-font-size-base: var(--zeus-font-size-m);
  --zeus-bg-tile: var(--zeus-white);
  --zeus-bg-dark: var(--zeus-brand-dark);
  --zeus-body-bg: var(--zeus-neutral-100);
  --zeus-body-bg-medium: var(--zeus-neutral-200);
  --zeus-body-bg-striped: var(--zeus-neutral-200);
  --zeus-body-bg-hover: var(--zeus-neutral-200);
  --zeus-body-bg-active: var(--zeus-primary);
  --zeus-body-border-medium: var(--zeus-neutral-300);
  --zeus-body-text: var(--zeus-neutral-900);
  --zeus-body-text-striped: var(--zeus-body-text);
  --zeus-body-text-hover: var(--zeus-body-text);
  --zeus-body-text-active: var(--zeus-white);
  --zeus-body-text-muted: var(--zeus-neutral-500);
  --zeus-body-link: var(--zeus-primary);
  --zeus-body-link-accent: var(--zeus-primary);
  --zeus-body-shadow: rgba(25, 135, 84, 0.33);
  --zeus-wizard-bg: var(--zeus-white);
  --zeus-wizard-text: var(--zeus-body-text);
  --zeus-header-bg: var(--zeus-white);
  --zeus-header-text: var(--zeus-body-text);
  --zeus-header-link: var(--zeus-header-text);
  --zeus-header-link-accent: var(--zeus-primary);
  --zeus-header-link-active: var(--zeus-primary-accent);
  --zeus-nav-link: var(--zeus-neutral-600);
  --zeus-nav-link-accent: var(--zeus-neutral-700);
  --zeus-nav-link-active: var(--zeus-neutral-900);
  --zeus-nav-bg: transparent;
  --zeus-nav-bg-hover: transparent;
  --zeus-nav-bg-active: transparent;
  --zeus-nav-border: transparent;
  --zeus-nav-border-hover: transparent;
  --zeus-nav-border-active: var(--zeus-primary);
  --zeus-form-bg: var(--zeus-white);
  --zeus-form-bg-hover: var(--zeus-form-bg);
  --zeus-form-bg-addon: var(--zeus-neutral-300);
  --zeus-form-bg-disabled: var(--zeus-neutral-200);
  --zeus-form-text: var(--zeus-neutral-900);
  --zeus-form-text-label: var(--zeus-neutral-700);
  --zeus-form-text-addon: var(--zeus-neutral-700);
  --zeus-form-border: var(--zeus-neutral-300);
  --zeus-form-border-focus: var(--zeus-form-border);
  --zeus-form-border-active: var(--zeus-form-border);
  --zeus-form-border-disabled: var(--zeus-form-border);
  --zeus-form-shadow-focus: var(--zeus-primary-shadow);
  --zeus-form-shadow-valid: var(--zeus-success-shadow);
  --zeus-form-shadow-invalid: var(--zeus-danger-shadow);
  --zeus-footer-bg: var(--zeus-brand-dark);
  --zeus-footer-text: var(--zeus-neutral-400);
  --zeus-footer-link: var(--zeus-neutral-400);
  --zeus-footer-link-accent: var(--zeus-neutral-100);
  --zeus-code-text: var(--zeus-body-text);
  --zeus-code-bg: transparent;
  --zeus-pre-text: var(--zeus-white);
  --zeus-pre-bg: var(--zeus-neutral-900);
  --zeus-primary: var(--zeus-brand-primary);
  --zeus-primary-accent: var(--zeus-brand-tertiary);
  --zeus-primary-text: var(--zeus-white);
  --zeus-primary-text-hover: var(--zeus-white);
  --zeus-primary-text-active: var(--zeus-white);
  --zeus-primary-bg-hover: var(--zeus-primary-accent);
  --zeus-primary-bg-active: var(--zeus-primary-accent);
  --zeus-primary-border: var(--zeus-primary);
  --zeus-primary-border-hover: var(--zeus-primary-bg-hover);
  --zeus-primary-border-active: var(--zeus-primary-bg-active);
  --zeus-primary-dim-bg: var(--zeus-primary-500);
  --zeus-primary-dim-bg-striped: var(--zeus-primary-400);
  --zeus-primary-dim-bg-hover: var(--zeus-primary-600);
  --zeus-primary-dim-bg-active: var(--zeus-primary-700);
  --zeus-primary-dim-border: var(--zeus-primary-dim-bg);
  --zeus-primary-dim-border-active: var(--zeus-primary-dim-bg-active);
  --zeus-primary-dim-text: var(--zeus-white);
  --zeus-primary-dim-text-striped: var(--zeus-primary-dim-text);
  --zeus-primary-dim-text-hover: var(--zeus-primary-dim-text);
  --zeus-primary-dim-text-active: var(--zeus-primary-900);
  --zeus-primary-shadow: rgba(25, 135, 84, 0.33);
  --zeus-secondary: var(--zeus-neutral-500);
  --zeus-secondary-accent: var(--zeus-neutral-700);
  --zeus-secondary-text: var(--zeus-white);
  --zeus-secondary-text-hover: var(--zeus-white);
  --zeus-secondary-text-active: var(--zeus-white);
  --zeus-secondary-bg-hover: var(--zeus-secondary-accent);
  --zeus-secondary-bg-active: var(--zeus-secondary-accent);
  --zeus-secondary-border: var(--zeus-secondary);
  --zeus-secondary-border-hover: var(--zeus-secondary-bg-hover);
  --zeus-secondary-border-active: var(--zeus-secondary-bg-active);
  --zeus-secondary-dim-bg: var(--zeus-neutral-200);
  --zeus-secondary-dim-bg-striped: var(--zeus-neutral-300);
  --zeus-secondary-dim-bg-hover: var(--zeus-neutral-300);
  --zeus-secondary-dim-bg-active: var(--zeus-neutral-400);
  --zeus-secondary-dim-border: var(--zeus-secondary-dim-bg);
  --zeus-secondary-dim-border-active: var(--zeus-secondary-dim-bg-active);
  --zeus-secondary-dim-text: var(--zeus-neutral-800);
  --zeus-secondary-dim-text-striped: var(--zeus-secondary-dim-text);
  --zeus-secondary-dim-text-hover: var(--zeus-secondary-dim-text);
  --zeus-secondary-dim-text-active: var(--zeus-neutral-900);
  --zeus-secondary-shadow: rgba(130, 138, 145, 0.33);
  --zeus-success: var(--zeus-green-500);
  --zeus-success-accent: var(--zeus-green-700);
  --zeus-success-text: var(--zeus-white);
  --zeus-success-text-hover: var(--zeus-white);
  --zeus-success-text-active: var(--zeus-white);
  --zeus-success-bg-hover: var(--zeus-success-accent);
  --zeus-success-bg-active: var(--zeus-success-accent);
  --zeus-success-border: var(--zeus-success);
  --zeus-success-border-hover: var(--zeus-success-bg-hover);
  --zeus-success-border-active: var(--zeus-success-bg-active);
  --zeus-success-dim-bg: var(--zeus-green-100);
  --zeus-success-dim-bg-striped: var(--zeus-green-200);
  --zeus-success-dim-bg-hover: var(--zeus-green-200);
  --zeus-success-dim-bg-active: var(--zeus-green-300);
  --zeus-success-dim-border: var(--zeus-success-dim-bg);
  --zeus-success-dim-border-active: var(--zeus-success-dim-bg-active);
  --zeus-success-dim-text: var(--zeus-green-800);
  --zeus-success-dim-text-striped: var(--zeus-success-dim-text);
  --zeus-success-dim-text-hover: var(--zeus-success-dim-text);
  --zeus-success-dim-text-active: var(--zeus-green-900);
  --zeus-success-shadow: rgba(60, 153, 110, 0.33);
  --zeus-info: var(--zeus-blue-500);
  --zeus-info-accent: var(--zeus-blue-700);
  --zeus-info-text: var(--zeus-white);
  --zeus-info-text-hover: var(--zeus-white);
  --zeus-info-text-active: var(--zeus-white);
  --zeus-info-bg-hover: var(--zeus-info-accent);
  --zeus-info-bg-active: var(--zeus-info-accent);
  --zeus-info-border: var(--zeus-info);
  --zeus-info-border-hover: var(--zeus-info-bg-hover);
  --zeus-info-border-active: var(--zeus-info-bg-active);
  --zeus-info-dim-bg: var(--zeus-blue-100);
  --zeus-info-dim-bg-striped: var(--zeus-blue-200);
  --zeus-info-dim-bg-hover: var(--zeus-blue-200);
  --zeus-info-dim-bg-active: var(--zeus-blue-300);
  --zeus-info-dim-border: var(--zeus-info-dim-bg);
  --zeus-info-dim-border-active: var(--zeus-info-dim-bg-active);
  --zeus-info-dim-text: var(--zeus-blue-800);
  --zeus-info-dim-text-striped: var(--zeus-info-dim-text);
  --zeus-info-dim-text-hover: var(--zeus-info-dim-text);
  --zeus-info-dim-text-active: var(--zeus-blue-900);
  --zeus-info-shadow: rgba(11, 172, 204, 0.33);
  --zeus-warning: var(--zeus-yellow-500);
  --zeus-warning-accent: var(--zeus-yellow-700);
  --zeus-warning-text: var(--zeus-neutral-900);
  --zeus-warning-text-hover: var(--zeus-neutral-900);
  --zeus-warning-text-active: var(--zeus-neutral-900);
  --zeus-warning-bg-hover: var(--zeus-warning-accent);
  --zeus-warning-bg-active: var(--zeus-warning-accent);
  --zeus-warning-border: var(--zeus-warning);
  --zeus-warning-border-hover: var(--zeus-warning-bg-hover);
  --zeus-warning-border-active: var(--zeus-warning-bg-active);
  --zeus-warning-dim-bg: var(--zeus-yellow-100);
  --zeus-warning-dim-bg-striped: var(--zeus-yellow-200);
  --zeus-warning-dim-bg-hover: var(--zeus-yellow-200);
  --zeus-warning-dim-bg-active: var(--zeus-yellow-300);
  --zeus-warning-dim-border: var(--zeus-warning-dim-bg);
  --zeus-warning-dim-border-active: var(--zeus-warning-dim-bg-active);
  --zeus-warning-dim-text: var(--zeus-neutral-800);
  --zeus-warning-dim-text-striped: var(--zeus-warning-dim-text);
  --zeus-warning-dim-text-hover: var(--zeus-warning-dim-text);
  --zeus-warning-dim-text-active: var(--zeus-yellow-900);
  --zeus-warning-shadow: rgba(217, 164, 6, 0.33);
  --zeus-danger: var(--zeus-red-500);
  --zeus-danger-accent: var(--zeus-red-700);
  --zeus-danger-text: var(--zeus-white);
  --zeus-danger-text-hover: var(--zeus-white);
  --zeus-danger-text-active: var(--zeus-white);
  --zeus-danger-bg-hover: var(--zeus-danger-accent);
  --zeus-danger-bg-active: var(--zeus-danger-accent);
  --zeus-danger-border: var(--zeus-danger);
  --zeus-danger-border-hover: var(--zeus-danger-bg-hover);
  --zeus-danger-border-active: var(--zeus-danger-bg-active);
  --zeus-danger-dim-bg: var(--zeus-red-100);
  --zeus-danger-dim-bg-striped: var(--zeus-red-200);
  --zeus-danger-dim-bg-hover: var(--zeus-red-200);
  --zeus-danger-dim-bg-active: var(--zeus-red-300);
  --zeus-danger-dim-border: var(--zeus-danger-dim-bg);
  --zeus-danger-dim-border-active: var(--zeus-danger-dim-bg-active);
  --zeus-danger-dim-text: var(--zeus-red-800);
  --zeus-danger-dim-text-striped: var(--zeus-danger-dim-text);
  --zeus-danger-dim-text-hover: var(--zeus-danger-dim-text);
  --zeus-danger-dim-text-active: var(--zeus-red-900);
  --zeus-danger-shadow: rgba(225, 83, 97, 0.33);
  --zeus-dark: var(--zeus-neutral-800);
  --zeus-dark-accent: var(--zeus-black);
  --zeus-dark-text: var(--zeus-neutral-200);
  --zeus-dark-text-hover: var(--zeus-neutral-200);
  --zeus-dark-text-active: var(--zeus-neutral-200);
  --zeus-dark-bg-hover: var(--zeus-dark-accent);
  --zeus-dark-bg-active: var(--zeus-dark-accent);
  --zeus-dark-border: var(--zeus-dark);
  --zeus-dark-border-hover: var(--zeus-dark-bg-hover);
  --zeus-dark-border-active: var(--zeus-dark-bg-active);
  --zeus-dark-dim-bg: var(--zeus-neutral-900);
  --zeus-dark-dim-bg-striped: var(--zeus-neutral-900);
  --zeus-dark-dim-bg-hover: var(--zeus-neutral-800);
  --zeus-dark-dim-bg-active: var(--zeus-neutral-700);
  --zeus-dark-dim-border: var(--zeus-dark-dim-bg);
  --zeus-dark-dim-border-active: var(--zeus-dark-dim-bg-active);
  --zeus-dark-dim-text: var(--zeus-neutral-200);
  --zeus-dark-dim-text-striped: var(--zeus-dark-dim-text);
  --zeus-dark-dim-text-hover: var(--zeus-dark-dim-text);
  --zeus-dark-dim-text-active: var(--zeus-neutral-100);
  --zeus-dark-shadow: rgba(66, 70, 73, 0.33);
}

:root[data-theme="dark"],
:root[data-btcpay-theme="dark"] {
  --zeus-neutral-100: var(--zeus-neutral-dark-100);
  --zeus-neutral-200: var(--zeus-neutral-dark-200);
  --zeus-neutral-300: var(--zeus-neutral-dark-300);
  --zeus-neutral-400: var(--zeus-neutral-dark-400);
  --zeus-neutral-500: var(--zeus-neutral-dark-500);
  --zeus-neutral-600: var(--zeus-neutral-dark-600);
  --zeus-neutral-700: var(--zeus-neutral-dark-700);
  --zeus-neutral-800: var(--zeus-neutral-dark-800);
  --zeus-neutral-900: var(--zeus-neutral-dark-900);
  --zeus-neutral-950: #31363F;
  --zeus-bg-dark: var(--zeus-neutral-950);
  --zeus-bg-tile: var(--zeus-bg-dark);
  --zeus-body-bg: var(--zeus-neutral-900);
  --zeus-body-bg-medium: var(--zeus-neutral-800);
  --zeus-body-bg-striped: var(--zeus-neutral-800);
  --zeus-body-bg-hover: var(--zeus-neutral-700);
  --zeus-body-bg-active: var(--zeus-neutral-700);
  --zeus-body-border-medium: var(--zeus-neutral-700);
  --zeus-body-text: var(--zeus-white);
  --zeus-wizard-bg: var(--zeus-body-bg);
  --zeus-wizard-text: var(--zeus-body-text);
  --zeus-form-text-label: var(--zeus-neutral-300);
  --zeus-header-bg: var(--zeus-bg-dark);
  --zeus-header-link-active: var(--zeus-primary);
  --zeus-nav-link: var(--zeus-neutral-500);
  --zeus-nav-link-accent: var(--zeus-neutral-300);
  --zeus-nav-link-active: var(--zeus-white);
  --zeus-footer-bg: var(--zeus-bg-dark);
  --zeus-footer-text: var(--zeus-neutral-600);
  --zeus-footer-link: var(--zeus-neutral-600);
  --zeus-footer-link-accent: var(--zeus-neutral-300);
  --zeus-pre-bg: var(--zeus-bg-dark);
  --zeus-dark: var(--zeus-neutral-200);
  --zeus-dark-accent: var(--zeus-neutral-400);
  --zeus-dark-text: var(--zeus-neutral-800);
  --zeus-dark-text-hover: var(--zeus-neutral-800);
  --zeus-dark-text-active: var(--zeus-neutral-800);
  --zeus-dark-bg-hover: var(--zeus-dark-accent);
  --zeus-dark-bg-active: var(--zeus-dark-accent);
  --zeus-dark-border: var(--zeus-dark);
  --zeus-dark-border-hover: var(--zeus-dark-bg-hover);
  --zeus-dark-border-active: var(--zeus-dark-bg-active);
  --zeus-dark-dim-bg: var(--zeus-white);
  --zeus-dark-dim-bg-striped: var(--zeus-neutral-200);
  --zeus-dark-dim-bg-hover: var(--zeus-neutral-200);
  --zeus-dark-dim-bg-active: var(--zeus-neutral-300);
  --zeus-dark-dim-border: var(--zeus-dark-dim-bg);
  --zeus-dark-dim-border-active: var(--zeus-dark-dim-bg-active);
  --zeus-dark-dim-text: var(--zeus-neutral-800);
  --zeus-dark-dim-text-striped: var(--zeus-dark-dim-text);
  --zeus-dark-dim-text-hover: var(--zeus-dark-dim-text);
  --zeus-dark-dim-text-active: var(--zeus-neutral-900);
  --zeus-dark-shadow: rgba(211, 212, 213, 0.33);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-btcpay-theme],
[data-theme]) {
    --zeus-neutral-100: var(--zeus-neutral-dark-100);
    --zeus-neutral-200: var(--zeus-neutral-dark-200);
    --zeus-neutral-300: var(--zeus-neutral-dark-300);
    --zeus-neutral-400: var(--zeus-neutral-dark-400);
    --zeus-neutral-500: var(--zeus-neutral-dark-500);
    --zeus-neutral-600: var(--zeus-neutral-dark-600);
    --zeus-neutral-700: var(--zeus-neutral-dark-700);
    --zeus-neutral-800: var(--zeus-neutral-dark-800);
    --zeus-neutral-900: var(--zeus-neutral-dark-900);
    --zeus-neutral-950: #31363F;
    --zeus-bg-dark: var(--zeus-neutral-950);
    --zeus-bg-tile: var(--zeus-bg-dark);
    --zeus-body-bg: var(--zeus-neutral-900);
    --zeus-body-bg-medium: var(--zeus-neutral-800);
    --zeus-body-bg-striped: var(--zeus-neutral-800);
    --zeus-body-bg-hover: var(--zeus-neutral-700);
    --zeus-body-bg-active: var(--zeus-neutral-700);
    --zeus-body-border-medium: var(--zeus-neutral-700);
    --zeus-body-text: var(--zeus-white);
    --zeus-wizard-bg: var(--zeus-body-bg);
    --zeus-wizard-text: var(--zeus-body-text);
    --zeus-form-text-label: var(--zeus-neutral-300);
    --zeus-header-bg: var(--zeus-bg-dark);
    --zeus-header-link-active: var(--zeus-primary);
    --zeus-nav-link: var(--zeus-neutral-500);
    --zeus-nav-link-accent: var(--zeus-neutral-300);
    --zeus-nav-link-active: var(--zeus-white);
    --zeus-footer-bg: var(--zeus-bg-dark);
    --zeus-footer-text: var(--zeus-neutral-600);
    --zeus-footer-link: var(--zeus-neutral-600);
    --zeus-footer-link-accent: var(--zeus-neutral-300);
    --zeus-pre-bg: var(--zeus-bg-dark);
    --zeus-dark: var(--zeus-neutral-200);
    --zeus-dark-accent: var(--zeus-neutral-400);
    --zeus-dark-text: var(--zeus-neutral-800);
    --zeus-dark-text-hover: var(--zeus-neutral-800);
    --zeus-dark-text-active: var(--zeus-neutral-800);
    --zeus-dark-bg-hover: var(--zeus-dark-accent);
    --zeus-dark-bg-active: var(--zeus-dark-accent);
    --zeus-dark-border: var(--zeus-dark);
    --zeus-dark-border-hover: var(--zeus-dark-bg-hover);
    --zeus-dark-border-active: var(--zeus-dark-bg-active);
    --zeus-dark-dim-bg: var(--zeus-white);
    --zeus-dark-dim-bg-striped: var(--zeus-neutral-200);
    --zeus-dark-dim-bg-hover: var(--zeus-neutral-200);
    --zeus-dark-dim-bg-active: var(--zeus-neutral-300);
    --zeus-dark-dim-border: var(--zeus-dark-dim-bg);
    --zeus-dark-dim-border-active: var(--zeus-dark-dim-bg-active);
    --zeus-dark-dim-text: var(--zeus-neutral-800);
    --zeus-dark-dim-text-striped: var(--zeus-dark-dim-text);
    --zeus-dark-dim-text-hover: var(--zeus-dark-dim-text);
    --zeus-dark-dim-text-active: var(--zeus-neutral-900);
    --zeus-dark-shadow: rgba(211, 212, 213, 0.33);
  }
}
